
header{
   flex: auto;
}  
main{
    flex: auto;
}
.wave-container {
    position: relative;
    width: 100%;
    height: 800px;
 
}
.wave {
    position: absolute;
    width: 200vw;
    height: 200vw;
    background-color: #3a4a5959;
    opacity: 0.4;
    top: -95vw;
    left: 50%;
    margin-left: -100vw;
    margin-top: -100vw;
    border-radius: 43%;
    animation: wave-animation 10s infinite linear;
}
.wave:nth-child(1) {
    animation: wave-animation 20s infinite linear;
    opacity: 0.1;
    background-color: #777;
}

.wave:nth-child(2) {
    animation: wave-animation 25s infinite linear;
    opacity: 0.1;
    background-color: #777;
} 

@keyframes wave-animation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}